{% extends "base.html" %}
{% load add_timer %}

{% block content %}

<form class="max-w-sm mx-auto" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-5">
        <label for="id_nome" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome</label>
        <input type="text" name="nome" id="id_nome" value="{{ sorteio.nome|default:'' }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white" required />
    </div>

    <div class="mb-5">
        <label for="id_preco_visual" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Preço da rifa</label>
        <input type="text" name="preco_visual" id="id_preco_visual" value="{{ sorteio.preco|default:'' }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white" required />
        <input type="hidden" name="preco" id="id_preco_numerico" value="{{ sorteio.preco|default:'' }}" />
    </div>

    <div class="mb-5">
        <label for="id_numero" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Número de rifas</label>
        <input type="number" name="numero" id="id_numero" value="{{ sorteio.numero|default:'' }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white" required />
    </div>

    <div class="mb-5">
        <label for="id_descricao" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descrição</label>
        <textarea name="descricao" id="id_descricao" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">{{ sorteio.descricao|default:'' }}</textarea>
    </div>

    <div class="mb-5">
        <label for="id_imagem" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Imagem</label>
        <div class="relative">
            <input type="file" name="imagem" id="id_imagem" class="hidden" accept="image/*" onchange="handleFileSelect(this)" />
            <label for="id_imagem" id="imagem-label" class="cursor-pointer flex items-center justify-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M13 3a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H8a1 1 0 010-2h3V4a1 1 0 011-1z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M5 8a1 1 0 011-1h9a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                Selecione uma imagem
            </label>
        </div>
        {% if sorteio.imagem %}
            <img src="{{ sorteio.imagem.url }}" alt="Imagem do sorteio" style="max-width: 100px; max-height: 100px;" />
        {% endif %}
    </div>
    
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        {% if sorteio %}Atualizar{% else %}Cadastrar{% endif %}
    </button>
</form>
<!-- Adicionando a lista de sorteios existentes -->
<div class="relative overflow-x-auto mt-4">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Nome do Sorteio</th>
                <th scope="col" class="px-6 py-3">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for sorteio in sorteios %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white">{{ sorteio.nome }}</td>
                <td class="px-6 py-4">
                    <a href="{% url 'adm' sorteio.slug %}" class="text-blue-600 hover:underline">Atualizar</a> |
                    <form action="{% url 'excluir_sorteio' sorteio.slug %}" method="post" onsubmit="return confirm('Tem certeza que deseja excluir este sorteio?');" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="text-red-600 hover:underline">Excluir</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr class="bg-white dark:bg-gray-800">
                <td colspan="2" class="px-6 py-4">Nenhum sorteio encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Lista de participantes e seus timers -->
<div class="mt-4">
    <h2 class="text-lg font-bold mb-2">Participantes e Timers</h2>
    <div class="overflow-x-auto">
        <table class="min-w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Nome do Participante</th>
                    <th scope="col" class="px-6 py-3">Sorteio</th>
                    <th scope="col" class="px-6 py-3">Timer</th>
                </tr>
            </thead>
            <tbody>
                {% for participacao in participacoes %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">{{ participacao.nome_participante }}</td>
                        <td class="px-6 py-4">{{ participacao.sorteio.nome }}</td>
                        <td id="contador-{{ participacao.id }}" class="px-6 py-4">
                            {{ participacao.tempo_restante }}
                        </td>
                        
                        
                        
                        <td>
                            <div class="flex items-center">
                                <button class="px-2 py-1 text-sm text-white bg-green-500 hover:bg-green-600" onclick="alterarHoras({{ participacao.id }}, 1); location.reload();">+</button>
                                <!-- Ajuste a largura aqui -->
                                <input type="number" id="horas-{{ participacao.id }}" class="mx-2 border rounded text-center w-20" value="0">
                                <button class="px-2 py-1 text-sm text-white bg-red-500 hover:bg-red-600" onclick="alterarHoras({{ participacao.id }}, -1); location.reload();">-</button>
                            </div>
                            
                        </td>
                        
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="px-6 py-4">Nenhum participante encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function() {

        // Função para criar um elemento HTML para cada participante
        function criarElementoParticipante(participacao) {
            const div = document.createElement('div');
            div.innerHTML = `
                <p><strong>Nome:</strong> ${participacao.nome_participante}</p>
                <p><strong>Sorteio:</strong> ${participacao.sorteio.nome}</p>
                <p><strong>Timer:</strong> ${participacao.tempo_restante}</p>
            `;
            return div;
        }

        // Função para atualizar a lista de participantes
        function atualizarParticipantes() {
            fetch('participantes-json/') // Certifique-se de que o caminho está correto
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Falha ao buscar dados');
                    }
                    return response.json();
                })
                .then(dados => {
                    const container = document.getElementById('participantes-container');
                    container.innerHTML = ''; // Limpar conteúdo existente
                    dados.forEach(participacao => {
                        const elemento = criarElementoParticipante(participacao);
                        container.appendChild(elemento);
                    });
                })
                .catch(error => {
                    console.error('Erro ao atualizar participantes:', error);
                });
        }

        // Chamar atualizarParticipantes para carregar os dados inicialmente
        atualizarParticipantes();
    });
</script>

<script>
    var horasLimites = {
        {% for participacao in participacoes %}
        "{{ participacao.id }}": new Date("{{ participacao.data_criacao|date:'Y-m-d H:i:s' }}").getTime() + (3 * 24 * 60 * 60 * 1000), // Adiciona 3 dias
        {% endfor %}
    };

    function atualizarContadores() {
        var agora = new Date().getTime();
    
        for (var id in horasLimites) {
            var elementoContador = document.getElementById("contador-" + id);
            if (!elementoContador) {
                continue;
            }
    
            var horaLimite = horasLimites[id] - (3 * 60 * 60 * 1000); // Subtrai 2 horas
            var diferenca = horaLimite - agora;
    
            if (diferenca < 0) {
                elementoContador.innerHTML = "EXPIRADO";
                continue;
            }
    
            // Cálculo de dias, horas, minutos e segundos
            var dias = Math.floor(diferenca / (1000 * 60 * 60 * 24));
            var horas = Math.floor((diferenca % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutos = Math.floor((diferenca % (1000 * 60 * 60)) / (1000 * 60));
            var segundos = Math.floor((diferenca % (1000 * 60)) / 1000);
    
            elementoContador.innerHTML = (dias > 0 ? dias + "d " : "") + horas + "h " + minutos + "m " + segundos + "s";
        }
    }
    
    setInterval(atualizarContadores, 1000);
    atualizarContadores();
</script>




<script>
    function alterarHoras(participacaoId, incremento) {
        var horasInput = document.getElementById('horas-' + participacaoId);
        var horas = parseInt(horasInput.value, 10) * incremento;
        var csrftoken = getCookie('csrftoken');
        
        fetch('/alterar-horas/' + participacaoId + '/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ horas: horas })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Falha ao alterar horas');
            }
            return response.json();
        })
        .then(data => {
            // Atualize o valor de horasLimites
            var horasAdicionadas = parseInt(horasInput.value, 10) * incremento;
            // Ajuste de tempo para o fuso horário do servidor
            var agora = new Date();
            agora.setHours(agora.getHours() - 3); // Leva em consideração a diferença de 3 horas
            horasLimites[participacaoId] = new Date(horasLimites[participacaoId].getTime() + horasAdicionadas * 60 * 60 * 1000);
            
            // Atualizar o contador
            atualizarContadores();
        })
        
        .catch(error => {
            console.error('Erro ao alterar horas:', error);
        });
    }
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
</script>

<script>
    document.getElementById('id_preco_visual').addEventListener('input', function (e) {
        var value = e.target.value;
        var numericValue = value.replace(/\D/g, "");
        numericValue = (numericValue / 100).toFixed(2);
        document.getElementById('id_preco_numerico').value = numericValue;
        value = numericValue.replace(".", ",");
        value = "R$ " + value;
        e.target.value = value;
    });
</script>
<script>
    function handleFileSelect(input) {
        const label = document.getElementById('imagem-label');
        if (input.files && input.files[0]) {
            const fileName = input.files[0].name;
            label.textContent = fileName + ' selecionada';
            label.classList.add('bg-green-500', 'text-white');
        } else {
            label.textContent = 'Selecione uma imagem';
            label.classList.remove('bg-green-500', 'text-white');
        }
    }
    </script>
    
{% endblock content %}
