<!-- detalhe_sorteio.html -->

{% extends "base.html" %}
{% load custom_tags %}


{% block content %}

<style>
    .numero-ativo {
        background-color: #000;
        color: #fff;
    }
    
</style>

<style>
    .raffle-selected-numbers {
        background-color: #fff; /* Cor de fundo branca */
        padding: 10px 0; /* Padding vertical */
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar efeito elevado */
    }

    .raffle-ticket-number {
        background-color: #f8f9fa; /* Cor de fundo dos números */
        border: 1px solid #ddd; /* Borda */
        border-radius: 4px; /* Bordas arredondadas */
        padding: 5px 10px; /* Espaçamento interno */
        margin: 5px; /* Espaçamento externo */
        font-size: 1rem; /* Tamanho da fonte */
    }

    .raffle-ticket-number--selected {
        background-color: #007bff; /* Cor de fundo para número selecionado */
        color: #fff; /* Cor do texto para número selecionado */
    }

    #checkout_text_price {
        font-size: 1.2rem; /* Tamanho da fonte do preço */
        margin: 0 15px; /* Margem horizontal */
    }

    #finalizeButton {
        font-size: 1rem; /* Tamanho da fonte do botão */
    }

    .m-bg-black{
        background-color: #000;
    }
</style>



<div class="container max-w-3xl mx-auto mt-6 px-8">
    <div class="bg-white rounded-xl shadow-md overflow-hidden">
        <!-- Contêiner flexível para imagem e conteúdo -->
        <div class="flex">
            <!-- Bloco da imagem com tamanho aumentado -->
            <div class="w-1/2">
                <img class="w-full h-full object-cover" src="{{ sorteio.imagem.url }}" alt="{{ sorteio.nome }}">
            </div>

            <!-- Bloco do texto -->
            <div class="w-1/2 p-8">
                <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{ sorteio.nome }}</div>
                <p class="mt-2 text-gray-500">{{ sorteio.descricao }}</p>
                <div class="mt-4 text-gray-600 font-bold">R$ {{ sorteio.preco }}</div>
            </div>
        </div>
    </div>

    <!-- Seção de Cotas -->
    <div class="mt-8">
        <h2 class="text-2xl font-bold">Cotas</h2>
        <p class="mt-2">Clique e selecione quantas cotas você quiser!</p>
    </div>

    <div class="mt-8 flex flex-wrap">
        <!-- Botões de categorias -->
        <div class="mb-3 mr-2">
            <div class="flex">
                <button type="button" class="bg-gray-200 text-gray-700 px-4 py-2 rounded focus:outline-none focus:ring focus:border-blue-300 mr-2">Livre (823)</button>
                <button type="button" class="bg-blue-200 text-blue-700 px-4 py-2 rounded focus:outline-none focus:ring focus:border-blue-300 mr-2">Reservado (135)</button>
                <button type="button" class="bg-green-200 text-green-700 px-4 py-2 rounded focus:outline-none focus:ring focus:border-green-300">Pago (42)</button>
            </div>
        </div>
    
        <!-- Botão "Ver meus números" -->
        <div class="mb-3 mr-2">
            <button type="button" class="bg-red-500 text-white px-4 py-2 rounded focus:outline-none focus:ring focus:border-red-300">Ver meus números</button>
        </div>
    
        <!-- Botão "Mostrar todos" -->
        <div class="mb-3">
            <button type="button" class="text-gray-700 underline px-4 py-2 focus:outline-none focus:ring focus:border-gray-300">Mostrar todos</button>
        </div>
    </div>
    

    <!-- Renderizando a lista de números lado a lado -->
    <div class="mt-8 flex flex-wrap">
        {% for numero in numeros %}
            <div style="margin: 5px; cursor: pointer;" 
                class="{% if numero|stringformat:'s' in numeros_selecionados %}bg-blue-200{% else %}bg-gray-200 p-2 rounded numero{% endif %}" 
                {% if numero|stringformat:'s' not in numeros_selecionados %}onclick="selecionarNumero(this, '{{ numero|custom_format:digitos }}')" {% endif %}>
                {{ numero|custom_format:digitos }}
            </div>
        {% endfor %}
    </div>

  
  <!-- Main modal -->
  <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                      Checkout
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>

              <!-- Modal body -->
              <div class="p-4 md:p-5 space-y-4">
                <form method="post" action="{% url 'detalhe_sorteio' sorteio.slug %}">
                    {% csrf_token %}
                    <p class="text-base leading-relaxed text-black dark:text-gray-400">
                        Pagamento referente à participação na rifa <span style="font-weight: bold; text-transform: uppercase;">{{ sorteio.nome }}</span>
                    </p>
                    <p id="numerosSelecionadosText" class="bg-black flex flex-wrap "></p>
                    
                    <!-- Campo oculto para armazenar os números selecionados -->
                    <input type="hidden" name="numeros_selecionados" id="numerosSelecionadosInput">
            
                    <span id="valorTotalSpan" class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Total</span>
                    <p class="text-lg font-semibold uppercase">Dados do participante</p>
                    
                    <!-- Campos do formulário -->
                    <div class="flex flex-col">
                        <label for="nomeInput" class="text-base leading-relaxed text-black dark:text-gray-400 mb-1">Nome:</label>
                        <input type="text" name="nome_participante" id="nomeInput" class="bg-white border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" placeholder="Digite seu nome">
                    </div>
                    <div class="flex flex-col">
                        <label for="celularInput" class="text-base leading-relaxed text-black dark:text-gray-400 mb-1">Celular:</label>
                        <input type="tel" name="celular_participante" id="celularInput" class="bg-white border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" placeholder="(99) 99999-9999">
                    </div>                  
            
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Enviar</button>
                </form>
            </div>
            

          </div>
      </div>
  </div>
  

    <!-- Popup no final da página -->
    <div id="popfinalizar" class="raffle-selected-numbers bg-white py-3" style="position: fixed; bottom: 0; left: 0; right: 0; display: none;">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md col-12" id="checkout_ticket_numbers" style="display: flex; flex-wrap: wrap;">
                    <ul class="p-0 flex flex-wrap" id="selectedNumbersList">
                        <!-- Cada número selecionado será adicionado como um elemento de lista -->
                    </ul>
                </div>
            
                <div class="mt-8 flex flex-wrap" id="checkout_text_price_and_button">
                    <div id="checkout_text_price"></div>
                    <!-- Botão Finalizar -->
                    <button id="finalizarButton" data-modal-target="default-modal" data-modal-toggle="default-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                        Finalizar
                    </button>
                    
                </div>
                
            </div>
            
        </div>
    </div>


    
</div>
<script>
    document.getElementById('celularInput').addEventListener('input', function (e) {
        var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,5})(\d{0,4})/);
        e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
    });
</script>
<script>
    var numerosSelecionados = [];
    var valorPorNumero = {{ sorteio.preco }}; // Defina o valor de cada número aqui

    function selecionarNumero(element, numero) {
        var index = numerosSelecionados.indexOf(numero);
        if (element.classList.contains('bg-blue-200')) {
            return;
        }

        if (index > -1) {
            numerosSelecionados.splice(index, 1);
            element.classList.remove('numero-ativo');
        } else {
            numerosSelecionados.push(numero);
            element.classList.add('numero-ativo');
        }
        atualizarContainer();
    }
    
    

    function atualizarContainer() {
        var container = document.getElementById('popfinalizar');
        var listaNumeros = document.getElementById('selectedNumbersList');
        var textoPreco = document.getElementById('checkout_text_price');
        var valorTotalSpan = document.getElementById('valorTotalSpan');

        listaNumeros.innerHTML = '';
        var valorTotal = 0;

        if (numerosSelecionados.length > 0) {
            // Se houver números selecionados, preencher o popup e exibi-lo
            numerosSelecionados.forEach(function(numero) {
                listaNumeros.innerHTML += '<li class="raffle-ticket-number raffle-ticket-number--selected d-inline-block badge mb-1 mr-1" style="min-width:70px;">' + numero + '</li>';
                valorTotal += valorPorNumero; // Adiciona o valor de cada número
            });

            textoPreco.innerHTML = numerosSelecionados.length + 'x R$' + valorPorNumero.toFixed(2) + ' = R$' + valorTotal.toFixed(2);
            valorTotalSpan.textContent = 'Total: R$' + valorTotal.toFixed(2); // Atualiza o valor total
            container.style.display = 'block'; // Mostrar o popup
        } else {
            // Se não houver números selecionados, esconder o popup
            container.style.display = 'none';
        }
    }


    document.getElementById('finalizarButton').addEventListener('click', function() {
        // Obtenha uma referência ao elemento do parágrafo dentro do modal
        var numerosSelecionadosContainer = document.getElementById('numerosSelecionadosText');

        // Limpe qualquer conteúdo existente dentro do container
        numerosSelecionadosContainer.innerHTML = '';

        // Verifique se há números selecionados
        if (numerosSelecionados.length > 0) {
            // Para cada número selecionado, crie um elemento <p> com fundo individual e adicione-o ao container
            numerosSelecionados.forEach(function(numero) {
                var p = document.createElement('p');
                p.textContent = numero;
                p.className = 'm-bg-black text-white p-2 rounded mb-2 mr-2'; // Adiciona classes para estilização
                numerosSelecionadosContainer.appendChild(p);
            });
        } else {
            // Se não houver números selecionados, exiba uma mensagem informando ao usuário
            var p = document.createElement('p');
            p.textContent = "Nenhum número selecionado.";
            p.className = 'bg-black text-white p-4 rounded';
            numerosSelecionadosContainer.appendChild(p);
        }
    });
</script>


{% endblock content %}
