<!-- detalhe_sorteio.html -->

{% extends "base.html" %}
{% load custom_tags %}
{% load my_filters %}

{% block content %}

<style>
    .numero-ativo {
        background-color: #000;
        color: #fff;
    }
    
</style>

<style>
    /* Estilo base para o tooltip */
    .tooltip-text {
        display: none; /* Tooltip oculto por padrão */
        width: auto;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        position: absolute;
        z-index: 1;
        top: -40px; /* Ajuste esta posição conforme necessário */
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    }

    /* Mostrar o tooltip quando passar o mouse */
    .numero-nao-reservado:hover .tooltip-text {
        display: block; /* Exibe o tooltip */
    }

    .numero-reservado:hover .tooltip-text {
        display: block; /* Exibe o tooltip */
    }

    .numero-pago:hover .tooltip-text {
        display: block; /* Exibe o tooltip */
    }

</style>

<style>
    .raffle-selected-numbers {
        background-color: #fff; /* Cor de fundo branca */
        padding: 10px 0; /* Padding vertical */
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar efeito elevado */
    }

    .raffle-ticket-number {
        background-color: #f8f9fa; /* Cor de fundo dos números */
        border: 1px solid #ddd; /* Borda */
        border-radius: 4px; /* Bordas arredondadas */
        padding: 5px 10px; /* Espaçamento interno */
        margin: 5px; /* Espaçamento externo */
        font-size: 1rem; /* Tamanho da fonte */
    }

    .raffle-ticket-number--selected {
        background-color: #007bff; /* Cor de fundo para número selecionado */
        color: #fff; /* Cor do texto para número selecionado */
    }

    #checkout_text_price {
        font-size: 1.2rem; /* Tamanho da fonte do preço */
        margin: 0 15px; /* Margem horizontal */
    }

    #finalizeButton {
        font-size: 1rem; /* Tamanho da fonte do botão */
    }

    .m-bg-black{
        background-color: #000;
    }

</style>

<style>
    #popup-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
        background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    }
    
</style>


<div class="container max-w-3xl mx-auto mt-6 px-8">
    <div class="bg-white rounded-xl shadow-md overflow-hidden">
        <!-- Contêiner flexível para imagem e conteúdo -->
        <div class="flex">
            <!-- Bloco da imagem com tamanho aumentado -->
            <div class="w-1/2">
                <img class="w-full h-full object-cover" src="{{ sorteio.imagem.url }}" alt="{{ sorteio.nome }}">
            </div>

            <!-- Bloco do texto -->
            <div class="w-1/2 p-8">
                <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{ sorteio.nome }}</div>
                <p class="mt-2 text-gray-500">{{ sorteio.descricao }}</p>
                <div class="mt-4 text-gray-600 font-bold">R$ {{ sorteio.preco }}</div>
            </div>
        </div>
    </div>

    <!-- Seção de Cotas -->
    <div class="mt-8">
        <h2 class="text-2xl font-bold">Cotas</h2>
        <p class="mt-2">Clique e selecione quantas cotas você quiser!</p>
    </div>

    <div class="mt-8 flex flex-wrap">
        <!-- Botões de categorias -->
        <div class="mb-3 mr-2">
            <div class="flex">
                <!-- Botão para números disponíveis -->
                <button type="button" id="mostrarLivres" class="bg-gray-200 text-gray-700 px-4 py-2 rounded focus:outline-none focus:ring focus:border-blue-300 mr-2">
                    Livre ({{ numeros_livres }})
                </button>
                
                
                <!-- Botão para números selecionados -->
                
                <button type="button" id="mostrarReservados" class="bg-blue-200 text-blue-700 px-4 py-2 rounded focus:outline-none focus:ring focus:border-blue-300 mr-2">
                    Reservado ({{ quanti_numeros_selecionados }})
                </button>

                
                <!-- Botão para números pagos -->
                <button type="button" id="mostrarPagos" class="bg-green-200 text-green-700 px-4 py-2 rounded focus:outline-none focus:ring focus:border-green-300">
                    Pago ({{ numeros_pagos|length }})
                </button>
            </div>
        </div>
        
        <!-- Botão "Ver meus números" -->
        <div class="mb-3 mr-2">
            <button type="button" data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="bg-red-500 text-white px-4 py-2 rounded focus:outline-none focus:ring focus:border-red-300">Ver meus números</button>
        </div>

    
        <!-- Botão "Mostrar todos" -->
        <div class="mb-3">
            <button type="button" id="mostrarTodos" class="text-gray-700 underline px-4 py-2 focus:outline-none focus:ring focus:border-gray-300">Mostrar todos</button>
        </div>
        
    </div>
    

    <!-- Renderizando a lista de números lado a lado -->
    <div class="mt-8 flex flex-wrap">
        {% for numero in numeros %}
            {% if numero in numeros_pagos %}
                <!-- Número pago -->
                <div style="margin: 5px; position: relative;" class="bg-green-200 p-2 rounded numero-pago">{{ numero|custom_format:digitos }}
                    <span class="tooltip-text">Número {{ numero }} pago<br> por <span style="color: yellow;" >{{ numeros_reservados_info|get_item:numero }}</span></span>
                </div>
            {% elif numero in numeros_selecionados %}
                <div style="margin: 5px; position: relative;" class="bg-blue-200 p-2 rounded numero-reservado">{{ numero|custom_format:digitos }}
                    <span class="tooltip-text">Número {{ numero }} reservado <br> por <span style="color: yellow;" >{{ numeros_reservados_info|get_item:numero }}</span></span>
                </div>
            {% else %}
            <div style="margin: 5px; cursor: pointer; position: relative;" class="bg-gray-200 p-2 rounded numero numero-nao-reservado" onclick="selecionarNumero(this, '{{ numero|custom_format:digitos }}')">
                {{ numero|custom_format:digitos }}
                <span class="tooltip-text">Livre</span>
            </div>
            {% endif %}
        {% endfor %}


    </div>




  <!-- Modal para Ver meus numeros -->
  <div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                      Números Selecionados
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <form  class="p-4 md:p-5" method="get">
                  <div class="grid gap-4 mb-4 grid-cols-2">
                      <div class="col-span-2">
                          <label for="verify-number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero</label>
                          <input type="tel" name="verify-number" id="verify-number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Digite seu numero" required="">
                      </div>
                  </div>
                  <p id="numberDisplay"></p>
                  <button id="abrirModalNumeros" type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Ver meus números
                    </button>
              </form>
          </div>
      </div>
  </div> 


    <!-- Modal para comprar os numero -->

    <div id="popup-modal" tabindex="-1"  class="hidden overflow-y-auto overflow-x-hidden shadow-modal fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full" style="display: none!important;">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="p-4 md:p-5 text-center">
                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <form method="post" action="{% url 'detalhe_sorteio' slug=sorteio.slug %}">
                        {% csrf_token %}
                        <h3 class="mb-2 text-lg font-normal text-gray-500 dark:text-gray-400">Atenção você ainda não pagou por esses numeros</h3>
                        <br>
                        {% for participacao in participacoes %}
                            {% if not participacao.paga %}
                                <div>
                                    Participação de {{ participacao.nome_participante }}: <span id="contador-{{ participacao.id }}"></span>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <br>
                        <p id="numerosSelecionadosParaExibir" class="mb-5 text-lg font-normal "></p>
                        
                        <input type="hidden" name="form_type" value="pagamento">
                        <input type="hidden" name="numeros_pagos" id="inputNumerosPagos" value="">
                        
                        <button data-modal-hide="popup-modal" type="submit" class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                            Comprar agora
                        </button>
                    </form>
                    <a href="{% url "home" %}" data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                        Sair
                    </a>
                </div>
            </div>
        </div>
    </div>


  <!-- Main modal para cadastro -->
  <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                      Checkout
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>

              <!-- Modal body -->
              <div class="p-4 md:p-5 space-y-4">
                <form method="post" action="{% url 'detalhe_sorteio' sorteio.slug %}">
                    {% csrf_token %}
                    <p class="text-base leading-relaxed text-black dark:text-gray-400">
                        Pagamento referente à participação na rifa <span style="font-weight: bold; text-transform: uppercase;">{{ sorteio.nome }}</span>
                    </p>
                    <p id="numerosSelecionadosText" class="bg-black flex flex-wrap "></p>
                    
                    <!-- Campo oculto para armazenar os números selecionados -->
                    <input type="hidden" name="numeros_selecionados" id="numerosSelecionadosInput">
            
                    <input type="hidden" name="form_type" value="participacao">

                    <span id="valorTotalSpan" class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Total</span>
                    <p class="text-lg font-semibold uppercase">Dados do participante</p>
                    
                    <!-- Campos do formulário -->
                    <div class="flex flex-col">
                        <label for="nomeInput" class="text-base leading-relaxed text-black dark:text-gray-400 mb-1">Nome:</label>
                        <input type="text" name="nome_participante" id="nomeInput" class="bg-white border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" placeholder="Digite seu nome">
                    </div>
                    <div class="flex flex-col">
                        <label for="celularInput" class="text-base leading-relaxed text-black dark:text-gray-400 mb-1">Celular:</label>
                        <input type="tel" name="celular_participante" id="celularInput" class="bg-white border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" placeholder="(99) 99999-9999">
                    </div>                  
            
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Enviar</button>
                </form>
            </div>
            

          </div>
      </div>
  </div>
  

    <!-- Popup no final da página -->
    <div id="popfinalizar" class="raffle-selected-numbers bg-white py-3" style="position: fixed; bottom: 0; left: 0; right: 0; display: none;">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md col-12" id="checkout_ticket_numbers" style="display: flex; flex-wrap: wrap;">
                    <ul class="p-0 flex flex-wrap" id="selectedNumbersList">
                        <!-- Cada número selecionado será adicionado como um elemento de lista -->
                    </ul>
                </div>
            
                <div class="mt-8 flex flex-wrap" id="checkout_text_price_and_button">
                    <div id="checkout_text_price"></div>
                    <!-- Botão Finalizar -->
                    <button id="finalizarButton" data-modal-target="default-modal" data-modal-toggle="default-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                        Finalizar
                    </button>
                    
                </div>
                
            </div>
            
        </div>
    </div>


    
</div>

{% comment %} Script para confirmar pagamento {% endcomment %}
<script>
    function atualizarInputNumerosPagos() {
        document.getElementById('inputNumerosPagos').value = numerosSelecionados.join(',');
    }

    document.querySelector('[data-modal-hide="popup-modal"]').addEventListener('click', atualizarInputNumerosPagos);
</script>



{% comment %} Contador de tempo limite {% endcomment %}
<script>
    var horasLimites = {{ horas_limites|safe }};

    function atualizarContadores() {
        var agora = new Date();

        for (var id in horasLimites) {
            var horaLimite = new Date(horasLimites[id]);

            var diferenca = horaLimite - agora;

            if (diferenca < 0) {
                document.getElementById("contador-" + id).innerHTML = "EXPIRADO";
                continue;
            }

            var horas = Math.floor((diferenca % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutos = Math.floor((diferenca % (1000 * 60 * 60)) / (1000 * 60));
            var segundos = Math.floor((diferenca % (1000 * 60)) / 1000);

            document.getElementById("contador-" + id).innerHTML = horas + "h " + minutos + "m " + segundos + "s ";
        }
    }

    setInterval(atualizarContadores, 1000);
    atualizarContadores();
</script>



{% comment %} Faz abrir o modal de pagento {% endcomment %}
<script>
    window.onload = function() {
        {% if mostrar_popup_modal %}
            var numerosSelecionados = {{ numeros_para_modal|safe }};
            document.getElementById('numerosSelecionadosParaExibir').textContent = 'Números selecionados: ' + numerosSelecionados;
            document.getElementById('popup-modal').style.display = 'block';
        
            // Atualiza o valor do campo oculto com os números selecionados
            document.getElementById('inputNumerosPagos').value = numerosSelecionados.join(',');
        
        {% endif %}
    };
</script>



{% comment %} formatação do numero {% endcomment %}
<script>
    function formatarTelefone(event) {
        var x = event.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,5})(\d{0,4})/);
        event.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
    }
    
    document.getElementById('celularInput').addEventListener('input', formatarTelefone);
    document.getElementById('verify-number').addEventListener('input', formatarTelefone);
    
</script>

<script>
    var numerosSelecionados = [];
    var valorPorNumero = {{ sorteio.preco }}; // Defina o valor de cada número aqui

    // Atualize a função selecionarNumero() para armazenar os números selecionados como uma lista de inteiros
    function selecionarNumero(element, numero) {
        var index = numerosSelecionados.indexOf(numero);
        if (element.classList.contains('bg-blue-200')) {
            return;
        }

        if (index > -1) {
            numerosSelecionados.splice(index, 1);
            element.classList.remove('numero-ativo');
        } else {
            numerosSelecionados.push(numero);
            element.classList.add('numero-ativo');
        }
        atualizarContainer();

        // Atualize o campo oculto com os números selecionados como uma lista de inteiros
        document.getElementById('numerosSelecionadosInput').value = numerosSelecionados.join(',');

    }


    
    function atualizarContainer() {
        var container = document.getElementById('popfinalizar');
        var listaNumeros = document.getElementById('selectedNumbersList');
        var textoPreco = document.getElementById('checkout_text_price');
        var valorTotalSpan = document.getElementById('valorTotalSpan');
    
        listaNumeros.innerHTML = '';
        var valorTotal = 0;
    
        if (numerosSelecionados.length > 0) {
            numerosSelecionados.forEach(function(numero) {
                listaNumeros.innerHTML += '<li class="raffle-ticket-number raffle-ticket-number--selected d-inline-block badge mb-1 mr-1" style="min-width:70px;">' + numero + '</li>';
                valorTotal += valorPorNumero; // Adiciona o valor de cada número
            });
    
            textoPreco.innerHTML = numerosSelecionados.length + 'x R$' + valorPorNumero.toFixed(2) + ' = R$' + valorTotal.toFixed(2);
            valorTotalSpan.textContent = 'Total: R$' + valorTotal.toFixed(2);
            container.style.display = 'block';
    
            // Atualize o campo oculto com os números selecionados como uma lista de inteiros separados por vírgulas
            document.getElementById('numerosSelecionadosInput').value = numerosSelecionados.join(',');
        } else {
            container.style.display = 'none';
        }
    
        // Atualize os campos ocultos com os dados atualizados
        document.getElementById('nomeParticipanteInput').value = document.getElementById('nomeInput').value;
        document.getElementById('celularParticipanteInput').value = document.getElementById('celularInput').value;
    }
    
    
    document.getElementById('verificationForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Impede o recarregamento da página
    
        // Aqui você pode adicionar o código para lidar com os dados do formulário
        var numberDisplay = document.getElementById('numberDisplay');
        numberDisplay.innerHTML = '';
    
        if (numerosSelecionados.length > 0) {
            numerosSelecionados.forEach(function(numero) {
                numberDisplay.innerHTML += numero + ', ';
            });
        } else {
            numberDisplay.textContent = "Nenhum número selecionado.";
        }
    
        // opcional: aqui você pode fechar o modal, se desejar
    });
    
    document.getElementById('finalizarButton').addEventListener('click', function() {
        // Abre o modal e mostra os números selecionados
        var numberDisplay = document.getElementById('numberDisplay');
        numberDisplay.innerHTML = '';
    
        if (numerosSelecionados.length > 0) {
            numerosSelecionados.forEach(function(numero) {
                numberDisplay.innerHTML += numero + ', ';
            });
        } else {
            numberDisplay.textContent = "Nenhum número selecionado.";
        }
    
        // Aqui você pode incluir o código para abrir o modal, se necessário
    });
    
    
</script>

{% comment %} mostra os numeros reservados {% endcomment %}
<script>
    document.getElementById('mostrarReservados').addEventListener('click', function() {
        var divsReservados = document.querySelectorAll('.numero-reservado');
        var divsNaoReservados = document.querySelectorAll('.numero-nao-reservado');
        var divsPagas = document.querySelectorAll('.numero-pago');

        divsReservados.forEach(function(div) {
            div.style.display = 'block'; // Mostra os números reservados
        });

        divsNaoReservados.forEach(function(div) {
            div.style.display = 'none'; // Oculta os números não reservados
        });

        divsPagas.forEach(function(div) {
            div.style.display = 'none'; // Oculta os números Pagos
        });
    });
</script>

{% comment %} mostra os numeros Pagos {% endcomment %}
<script>
    document.getElementById('mostrarPagos').addEventListener('click', function() {
        var divsReservados = document.querySelectorAll('.numero-reservado');
        var divsNaoReservados = document.querySelectorAll('.numero-nao-reservado');
        var divsPagas = document.querySelectorAll('.numero-pago');
        
        divsPagas.forEach(function(div) {
            div.style.display = 'block'; // Mostra os números reservados
        });

        divsReservados.forEach(function(div) {
            div.style.display = 'none'; // Mostra os números reservados
        });

        divsNaoReservados.forEach(function(div) {
            div.style.display = 'none'; // Oculta os números não reservados
        });

    });
</script>

{% comment %} Mostra só os numeros livres {% endcomment %}
<script>
    document.getElementById('mostrarLivres').addEventListener('click', function() {
        var divsNaoReservados = document.querySelectorAll('.numero-nao-reservado');
        var divsReservados = document.querySelectorAll('.numero-reservado');
        var divsPagas = document.querySelectorAll('.numero-pago');


        divsNaoReservados.forEach(function(div) {
            div.style.display = 'block'; // Mostra os números não reservados (livres)
        });

        divsReservados.forEach(function(div) {
            div.style.display = 'none'; // Oculta os números reservados
        });

        divsPagas.forEach(function(div) {
            div.style.display = 'none'; // Oculta os números Pagos
        });
    });
</script>

{% comment %} Mostra todos os numeros independente se esta reservado ou não {% endcomment %}
<script>
    document.getElementById('mostrarTodos').addEventListener('click', function() {
        var divsNaoReservados = document.querySelectorAll('.numero-nao-reservado');
        var divsReservados = document.querySelectorAll('.numero-reservado');
        var divsPagas = document.querySelectorAll('.numero-pago');

        divsNaoReservados.forEach(function(div) {
            div.style.display = 'block'; // Mostra todos os números não reservados
        });

        divsReservados.forEach(function(div) {
            div.style.display = 'block'; // Mostra todos os números reservados
        });

        divsPagas.forEach(function(div) {
            div.style.display = 'block'; // Oculta os números Pagos
        });
    });
</script>

{% endblock content %}
